{% extends 'overall/layout' %}

{% block appTitle %}
    <title>Los más nuevos</title>
{% endblock %}

{% block appBody %}

    <main class="container mt-2 destacados mb-5">
        <div class="row px-0 align-items-center">
            <div class="col-12 col-md-6 col-lg-8">
                <p class="m-0 p-0 text-muted font-weight-bold animated fadeIn"><span class="coincidencias"></span></p>
                <h1 class="m-0 p-0 animated fadeIn titulo_destacado"><i class="fas fa-certificate"></i> Los más nuevos</h1>
				<div class="my-1 animated fadeIn separador separador_color"></div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-right pt-3 pt-md-0">
                <div class="input-group input-group-sm mb-0 animated fadeIn my-auto">
                    <div class="input-group-prepend">
                        <label class="input-group-text text-uppercase py-1" for="ordenar_resultados"><small>Ordenar por</small></label>
                    </div>
                    <select class="custom-select custom-select-sm" id="ordenar_resultados">
                        <option value="novedad">Más nuevo</option>
                        <option value="relevancia">Relevancia</option>
                        <optgroup label="Nombre">
                            <option value = "nombre">Nombre de la A-Z</option>
                            <option value = "nombre_desc">Nombre de la Z-A</option>
                        </optgroup>
                        <optgroup label="Precio">
                            <option value = "precio">Precio de menor a mayor</option>
                            <option value = "precio_desc">Precio de mayor a menor</option>
                        </optgroup>

                    </select>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="row" id="resultados">
                    
                </div>
            </div>

            <div class="col-12 mt-5">
                <div class="text-center d-none div_cargando">
                    <span class="spinner-grow spinner-grow-sm bg-app" role="status" aria-hidden="true"></span>
                    Procesando, por favor espere...
                </div>
            </div>

        </div>
    </main>
    
{% endblock %}

{% block appFooter %}
	<script src="assets/jscontrollers/destacados/novedades.js"></script>
{% endblock %}
