<div class="col-xs-12 col-sm-6 col-lg-3">
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>{{ totalSliders }}</h3>

      <p>Sliders del sitio web</p>
    </div>
    <div class="icon">
      <i class="fa fa-picture-o"></i>
    </div>
    <a href="slider" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
  <div class="small-box bg-red">
    <div class="inner">
      <h3>{{ totalBanners }}</h3>

      <p>Web banners del sitio web</p>
    </div>
    <div class="icon">
      <i class="fa fa-picture-o"></i>
    </div>
    <a href="banners" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-lg-3">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3>{{ totalUsuarios|number_format }}</h3>

      <p>Usuarios del sitio web</p>
    </div>
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
    <a href="usuarios" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
