{% extends 'overall/layout' %}

{% block appTitle %}
    <title>Contacto</title>
    <meta name="title" content="Contacto">
{% endblock %}

{% block appHeader %}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
{% endblock %}

{% block appBody %}

    <main class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 mb-4">
                <iframe class="z-depth-3 animated zoomInDown" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2946.147151745019!2d-99.65431244250686!3d19.286542394722712!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x70c78187c6b8d5eb!2zRWwgdGltw7NuIExpYnJlcsOtYQ!5e0!3m2!1ses-419!2smx!4v1593722685645!5m2!1ses-419!2smx" width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
            
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                
                <div class="col-md-6 destacados animated fadeInUp">
                    
                    <p class="m-0 p-0 text-muted font-weight-bold"><small class="font-weight-bold">Datos de</small></p>
                    <h1 class="m-0 p-0 titulo_destacado"><i class="fas fa-address-book"></i> Contacto</h1>
			        <div class="my-1 mb-4 separador separador_color"></div>
			        
			        <h5 class="text-dark font-weight-normal">El timón librería</h5>
			        <ul class="fa-ul text-muted">
			            <li class="py-1"><span class="fa-li"><i class="mr-2 fas fa-map-marker-alt text-app"></i></span>Instituto Literario, esquina, Juan Aldama 300-A, 50130 <b>Toluca de Lerdo</b>, Méx.</li>
                        <li class="py-1"><span class="fa-li"><i class="mr-2 fas fa-phone text-app"></i></span>722 167 0727</li>
                        {#<li class="py-1"><span class="fa-li"><i class="mr-2 fab fa-whatsapp text-app"></i></span><a target="_blank" href="https://api.whatsapp.com/send?phone=+527222549526">722 254 9526</a></li>#}
                        <li class="py-1"><span class="fa-li"><i class="mr-2 fas fa-envelope text-app"></i></span><a href="mailto:eltimonlibreria@gmail.com">eltimonlibreria@gmail.com</a></li>
                        <li class="py-1"><span class="fa-li"><i class="mr-2 fab fa-facebook-square text-app"></i></span><a target="_blank" href="https://www.facebook.com/El-tim%C3%B3n-librer%C3%ADa-247638102062702/">Facebook</a></li>
                        <li class="py-1"><span class="fa-li"><i class="mr-2 far fa-clock text-app"></i></span>Lunes a Sábado 10:00 - 19:00 (El horario puede cambiar en días feriados)</li>
                    </ul>
                    <p><b>No tenemos sucursales</b>, pero hacemos envíos a toda la república mexicana.</p>
                </div>
                
                <div class="col-md-6 destacados animated fadeInRight">
                    <p class="m-0 p-0 text-muted font-weight-bold animated fadeIn"><small class="font-weight-bold">Envianos un</small></p>
                        <h1 class="m-0 p-0 animated fadeIn titulo_destacado"><i class="fas fa-envelope-open-text"></i> Mensaje</h1>
			        <div class="my-1 animated fadeIn separador separador_color"></div>
			        <form class="mt-4" id="form_send">
			            
			            <div class="form-group">
			                <label for="subject" class="text-muted">Asunto:</label>
                            <div class="input-group input-group-transparent">
                                <input type="text" class="form-control form-control-sm" name="subject" id="subject" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                                </div>
                            </div>
                        </div>
                        
			            <div class="form-group">
			                <label for="name" class="text-muted">Nombre completo:</label>
                            <div class="input-group input-group-transparent">
                                <input type="text" class="form-control form-control-sm" name="name" id="name" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-muted">Correo electrónico:</label>
                            <div class="input-group input-group-transparent">
                                <input type="email" class="form-control form-control-sm" name="email" id="email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="text-muted">Mensaje:</label>
                            <textarea class="form-control form-control-sm" name="message" id="message" rows="6" resize="none" autocomplete="off"></textarea>
                        </div>
                        
                        <div id="g-recaptcha" style="margin:auto; max-width:100%;"></div>
                        
                        <!--<div class="custom-control custom-checkbox mt-3 mb-3">
                            <input type="checkbox" class="custom-control-input" name="politics" id="politics" value="acepto">
                            <label class="custom-control-label" for="politics" style="line-height:24px;">
                                He leído y acepto la <a href="{{config.build.url}}informacion/privacidad">política de privacidad</a>
                            </label>
                        </div>-->
                        
                        <div class="text-right mt-4">
                            <button type="button" class="btn btn-sm btn-icon boton_color" id="btn_send" disabled>
                                <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                                <span class="btn-inner--text">Enviar mensaje</span>
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
			        </form>
                </div>
          </div>
            
    </main>
    
{% endblock %}

{% block appFooter %}
	<script src="assets/jscontrollers/informacion/contacto.js"></script>
{% endblock %}