{# PLANTILLA REGISTRAR CRÉDITO #}

{% extends 'overall/layout' %}
{% block titleSeccion %}
    <title>Registrar crédito</title>
{% endblock %}
{% block appHeader %}
<!-- DataTables -->
<!--<link rel="stylesheet" type="text/css" href="assets/plantilla/AdminLTE/bower_components/datatables/DataTables-1.10.18/css/dataTables.bootstrap.css"/>-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/plantilla/AdminLTE/bower_components/datatables/Responsive-2.2.2/css/responsive.bootstrap.css"/>
{# Select2 #}
<link rel="stylesheet" href="assets/plantilla/AdminLTE/bower_components/select2/dist/css/select2.min.css">
<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet"> 
<style type="text/css">
	table.dataTable tbody td{vertical-align: middle;}
	#tablaProductosVer tbody tr:hover{cursor: default;}
	input[type="search"]::-webkit-search-cancel-button{-webkit-appearance: searchfield-cancel-button;cursor:pointer;}
	.cursor-pointer{cursor:pointer;}
	table.dataTable span.highlight {background-color: #FFFF88;border-radius: 0.28571429rem;}
    table.dataTable span.column_highlight {background-color: #ffcc99;border-radius: 0.28571429rem;}
</style>

{% endblock %} 
{% block appBody %}

<!-- Site wrapper -->
<div class="wrapper">

	{% include 'overall/header' %}

  	{% include 'overall/sidebar' %}

  	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">

	    <!-- Main content -->
	    <section class="content">

	    	<div class="row">

                {# CAJA BUSCADOR SUPERIOR #}
                <div class="col-xs-12">

                    <div class="box">

                        <div class="box-header with-border">
                            
                            <div class="row">
                                <div class="col-xs-6">
                                    <form class="form-inline" id="infoCredito">

                                        <h3 class="box-title font-weight-bold text-uppercase" style="margin-right:20px;">Registrar crédito</h3>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                                <select class="form-control seleccionar input-sm" name="cliente" id="seleccionar_cliente" style="width: 180px; max-width:180px;" lang="es" data-placeholder="Seleccionar cliente" data-allow-clear="true">
                                                    <option></option>
                                                    <optgroup label="Clientes disponibles">
                                                        {% for c in clientes %}
                                                            {% if c.estado == 1 and c.tipo == 2 %}
                                                                <option value='{{c.id_cliente}}'>{{c.cliente}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="clientes" class="btn btn-sm btn-default btn-flat font-weight-bold text-uppercase">CLIENTES</a>
                                    <a href="productos" class="btn btn-sm btn-default btn-flat font-weight-bold text-uppercase">PRODUCTOS</a>
                                    <a href="creditos" class="btn btn-sm btn-default btn-flat font-weight-bold text-uppercase">VER CRÉDITOS</a>
                                    <button type="button" class="btn btn-sm btn-flat bg-orange font-weight-bold text-uppercase hidden" id="confirmar" metodo="confirmar" style="margin-left:20px;"><i class="fas fa-check"></i> Confirmar crédito</button>
                                </div>
                            </div>
                        </div>

                        <div class="box-body hidden" id="box_agregarProductos">

                            <div class="row">

                                <div class="col-xs-6">
                                    <form id='buscador'>
                                        <div class="form-group" style="margin-bottom:0;">
                                            <div class="input-group">

                                                <input type="text" class="form-control input-sm" id="busqueda" name="busqueda" placeholder="Buscar por código o nombre del producto" autocomplete='off'>
                                                <span class="input-group-btn buscarLimpiar">
                                                    <button type="button" class="btn btn-sm btn-flat btn-default" id="buscarProducto">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="limpiarB">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </span>

                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-xs-4">
                                    <!--<div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-sm btn-default btn-flat font-weight-bold" id="btnMostrarTodos">Mostrar todos</button>
                                    </div>-->
                                </div>

                                <div class="col-xs-2 text-right">
                                    <span class="badge bg-orange font-weight-bold text-uppercase" style="margin-right:10px;">En crédito:</span>
                                    <span class="badge bg-black" style="vertical-align:middle;" id="totalCantSuperior">0</span>
                                    <span class="badge bg-red" style="vertical-align:middle;" id="totalTitulo">0.00</span>
                                    <input type="hidden" id="totalInput" value="">
                                </div>

                            </div>
                        
                        </div>
                        <!-- .box-body -->

                        <div id="diProcesando" class="hidden" style="vertical-align:middle;">
                            <p class="text-center" style="margin:0; padding:10px 0px 20px 0px;">Procesando, por favor espere...</p>
                        </div>
                        <div class="box-body no-padding divResultadosBusquedaPC hidden">	
                            <div class="table-responsive tableFixHead">
                                <table class="table table-bordered table-hover resultadosBusquedaPC">
                                    <tbody></tbody>
                                </table>
                            </div> 
                        </div>

                    </div>
                    <!-- .box -->
                </div>
                {# CAJA BUSCADOR SUPERIOR #}
                
				{# PRODUCTOS EN LA LISTA #}
				<div class="col-xs-12">

					<div class="box" id="resumenCredito">

						<div class="box-header with-border">
							<div class="row">
								<div class="col-xs-5" style="min-height:30px;">
									<h3 class="box-title" style="vertical-align:middle;">Productos en la lista de crédito</h3>
								</div>
								<div class="col-xs-7 text-right">
									<div class="divLimpiarListaCredito hidden">
									    <div class="col-xs-9 col-sm-10 col-lg-11 text-right">
					              			<div class="form-group pull-right" style="margin-bottom:0;">
							              		<div class="input-group" style="width:140px;">
												  	<span class="input-group-addon bg-gray" style="padding-left:5px; padding-right:5px;"><small><b>DTO. GRAL.</b></small></span>
				                    				<input class="form-control input-sm" type="text" value="0" id="descuentoGeneral" placeholder="0">
				                    				<span class="input-group-addon bg-gray" style="padding-left:1px; padding-right:1px;"><i class="fas fa-percent fa-xs"></i></span>
				                				</div>
				                			</div>
				                		</div>
				                		<div class="col-xs-3 col-sm-2 col-lg-1 no-padding text-right">
										    <button type="button" class="btn btn-default btn-flat btn-sm limpiarListaCredito" data-toggle="tooltip" title="Vaciar lista">
											    <i class="fas fa-trash-alt text-red"></i>
										    </button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- .box-header -->

						<div class="box-body no-padding">
			            	<div class="table-responsive">
				            	<table class="table table-condensed">
				            		<thead class="bg-navy text-uppercase">
				            			<tr>
                                            <th style="width:50px; min-width:50px;" class="text-center"></th>
				            				<th style="width:120px; min-width:100px;" class="text-center">Cantidad</th>
				            				<th style="width:500px;">Descripción</th>
											<th style="width:140px; min-width:140px;" class="text-center"><span class="badge bg-blue">Precio</span></th>
				            				<th style="width:70px; min-width:70px;" class="text-right">Descuento</th>
				            				<th style="width:80px; min-width:80px;" class="text-right">Subtotal</th>
				            				<th style="width:32.5px;"></th>
				            			</tr>
				            		</thead>
				            		<tbody id="listaProductosCredito"></tbody>
				            		<tfoot>
										<tr>
                                            <th></h>
				            				<th class="text-center" id="sumaCantidad">0</th>
				            				<th colspan="3" class="text-right">TOTAL:</th>
				            				<th class="text-right text-red" style="font-weight:bold;" id="total">0.00</th>
				            			</tr>
				            		</tfoot>
				            	</table>
				            </div>
			            </div>
						<!-- .box-body -->
						
					</div>
					<!-- .box -->

				</div>
                {# PRODUCTOS EN LA LISTA #}

			</div>
			<!-- .row -->

	    </section>
	    <!-- /.content -->

	</div>
  	<!-- /.content-wrapper -->

  	{% include 'overall/footer' %}

</div>
<!-- ./wrapper -->

{% endblock %}

{% block appFooter %}
<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/plantilla/AdminLTE/bower_components/datatables/Responsive-2.2.2/js/dataTables.responsive.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/filtering/type-based/accent-neutralise.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/features/searchHighlight/dataTables.searchHighlight.min.js"></script>
	<script type="text/javascript" src="https://bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
{# InputMask #}
	<script src="assets/plantilla/AdminLTE/plugins/input-mask/dist/jquery.inputmask.bundle.js"></script>
{# Select2  #}
<script src="assets/plantilla/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- Libreria español -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js"></script>  
    <script src="./assets/jscontrollers/registrarcredito/registrarcredito.js"></script>
{% endblock %}

{# PLANTILLA REGISTRAR CRÉDITO #}