{% extends 'overall/layout' %}

{% block appTitle %}
    <title>Mis datos</title>
{% endblock %}

{% block appBody %}

    {% include 'cuenta/menu' %}

    <main class="container">
        <div class="row div_datos">
            <div class="col-12 col-md-6 col-lg-4 mt-3 div_form_data">
                <form role="form" id="form_data">
                    <div class="card bg-white border animated fadeIn z-depth-2">
                        <div class="card-body">
                            <h4 class="heading h4 pt-1 pb-2">
                                Datos personales
                            </h4>
                            <div class="div_loading_data">
                                <div class="spinner-grow bg-app mx-auto" role="status" aria-hidden="true"></div>
                            </div>
                            <div class="row div_data_inputs">
                                <div class="col-12">
                                    <small class="form-text text-muted mb-0">Correo electrónico</small>
                                    <input type="email" class="form-control form-control-sm px-2 d_mail" value="" disabled>
                                </div>
                                <div class="col-12">
                                    <small class="form-text text-muted mb-0">Nombre completo</small>
                                    <input type="text" name="d_name" class="form-control form-control-sm px-2 d_name" value="">
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-7 pr-3 pr-sm-1 pr-md-3 pr-lg-1">
                                    <small class="form-text text-muted mb-0">RFC</small>
                                    <input type="text" name="d_rfc" class="form-control form-control-sm px-2 d_rfc" value="">
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-5 pl-3 pl-sm-1 pl-md-3 pl-lg-1">
                                    <small class="form-text text-muted mb-0">Teléfono</small>
                                    <input type="text" name="d_phone" class="form-control form-control-sm px-2 d_phone" value="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-sm btn-icon boton_color" id="btn_data" disabled>
                                <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                                <span class="btn-inner--text">Guardar</span>
                                <i class="fas fa-save"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 col-lg-8 mt-3 div_form_address">
                <form role="form" id="form_address">
                    <div class="card bg-white border animated fadeIn z-depth-2">
                        <div class="card-body">
                            <h4 class="heading h4 pt-1 pb-2">
                                Dirección de envío <small class="text-muted">(exclusivo para México)</small>
                            </h4>
                            <div class="div_loading_data">
                                <div class="spinner-grow bg-app mx-auto" role="status" aria-hidden="true"></div>
                            </div>
                            <div class="row div_data_inputs">
                                <div class="col-sm-3 col-md-12 col-lg-2 pr-sm-1 pr-md-3 pr-lg-1">
                                    <small class="form-text text-muted mb-0">Código postal</small>
                                    <input type="text" name="p_code" class="form-control form-control-sm p_code">
                                </div>
                                <div class="col-sm-9 col-md-12 col-lg-5 pl-sm-1 pl-md-3 px-lg-1">
                                    <small class="form-text text-muted mb-0">Estado</small>
                                    <select class="selectpicker state" name="state" title="Selecciona" data-live-search="true" data-live-search-placeholder="Buscar ...">
                                        <option value="1">Aguascalientes (1)</option>
                                        <option value="2">Baja California (2)</option>
                                        <option value="3">Baja California Sur (3)</option>
                                        <option value="4">Campeche (4)</option>
                                        <option value="5">Coahuila (5)</option>
                                        <option value="6">Colima (6)</option>
                                        <option value="7">Chiapas (7)</option>
                                        <option value="8">Chihuahua (8)</option>
                                        <option value="9">Ciudad de México (9)</option>
                                        <option value="10">Durango (10)</option>
                                        <option value="11">Guanajuato (11)</option>
                                        <option value="12">Guerrero (12)</option>
                                        <option value="13">Hidalgo (13)</option>
                                        <option value="14">Jalisco (14)</option>
                                        <option value="15">Estado de México (15)</option>
                                        <option value="16">Michoacán (16)</option>
                                        <option value="17">Morelos (17)</option>
                                        <option value="18">Nayarit (18)</option>
                                        <option value="19">Nuevo León (19)</option>
                                        <option value="20">Oaxaca (20)</option>
                                        <option value="21">Puebla (21)</option>
                                        <option value="22">Querétaro (22)</option>
                                        <option value="23">Quintana Roo (23)</option>
                                        <option value="24">San Luis Potosí (24)</option>
                                        <option value="25">Sinaloa (25)</option>
                                        <option value="26">Sonora (26)</option>
                                        <option value="27">Tabasco (27)</option>
                                        <option value="28">Tamaulipas (28)</option>
                                        <option value="29">Tlaxcala (29)</option>
                                        <option value="30">Veracruz (30)</option>
                                        <option value="31">Yucatán (31)</option>
                                        <option value="32">Zacatecas (32)</option>
                                        <option disabled></option>
                                    </select>
                                </div>
                                <div class="col-lg-5 pl-lg-1">
                                    <small class="form-text text-muted mb-0">Delegación o municipio</small>
                                    <input type="text" name="municipality" class="form-control form-control-sm municipality">
                                </div>
                                <div class="col-lg-5 pr-lg-1">
                                    <small class="form-text text-muted mb-0">Colonia</small>
                                    <input type="text" name="colony" class="form-control form-control-sm colony">
                                </div>
                                <div class="col-sm-9 col-md-12 col-lg-5 pl-sm-3 pr-sm-1 pl-md-3 px-lg-1">
                                    <small class="form-text text-muted mb-0">Calle</small>
                                    <input type="text" name="street" class="form-control form-control-sm street">
                                </div>
                                <div class="col-sm-3 col-md-12 col-lg-2 pl-sm-1 pl-md-3 pl-lg-1">
                                    <small class="form-text text-muted mb-0">N. ext.</small>
                                    <input type="text" name="o_number" class="form-control form-control-sm o_number">
                                </div>
                                <div class="col-12">
                                    <small class="form-text text-muted mb-0">Entre que calles</small>
                                    <textarea class="form-control form-control-sm textarea-autosize b_streets" name="b_streets" rows="2"></textarea>
                                </div>
                                <div class="col-12">
                                    <small class="form-text text-muted mb-0">Referencias</small>
                                    <textarea class="form-control form-control-sm textarea-autosize a_references" name="a_references" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-sm btn-icon boton_color" id="btn_address" disabled>
                                <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                                <span class="btn-inner--text">Guardar</span>
                                <i class="fas fa-save"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        <div>
    </main>
{% endblock %}

{% block appFooter %}
    <script src="assets/plugins/textarea-autosize/textarea-autosize.min.js"></script>
    <script src="assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="assets/plugins/Inputmask-5.x/jquery.inputmask.min.js"></script>
    <script src="assets/jscontrollers/cuenta/mis-datos.js"></script>
{% endblock %}