.info_producto .titulo_libro{
    color:var(--dark);
    font-size:var(--fontSize-26); }
.info_producto .disponibilidad_libro{
    font-size:var(--fontSize-11); 
    font-weight:700;}
.info_producto .puntos_libro{
    font-size:var(--fontSize-11);
    font-weight:600; 
    color:var(--textAlternative);}
.info_producto .autor_libro span{
    font-family: 'Asap Condensed', sans-serif;
    font-size:var(--fontSize-13); 
    color: var(--appColor3-HEX); 
    font-weight:600;}
.info_producto .editorial_libro span{
    font-family: 'Asap Condensed', sans-serif;
    font-size:var(--fontSize-13); 
    color: var(--appColor3-HEX); 
    font-weight:600;}
.info_producto .sinopsis h6{
    font-family: 'Asap Condensed', sans-serif;
    font-size:var(--fontSize-13); 
    color:var(--appColor3-HEX);
    font-weight:600;}
.info_producto .sinopsis p{
    color:var(--dark);
    font-size:var(--fontSize-13);}
.info_producto .ficha_tecnica table{
    color:var(--textAlternative); 
    font-size:var(--fontSize-12);
}
.info_producto .ficha_tecnica table .detalle{
    font-family: 'Asap Condensed', sans-serif;
    font-size:var(--fontSize-13); 
    color:var(--appColor3-HEX);
    font-weight:600;
}
.info_producto .precios .precio_normal{
    font-size:var(--fontSize-22);
    font-weight:600;
}

.badge{
    font-size:var(--fontSize-10);}
.badge-dot{
    color:var(--textLink);
    font-size:var(--fontSize-10);}
.badge-dot .dot{
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    margin-bottom: 2px;}
.badge.badge-dot a{
    color:var(--textLink);}
.badge.badge-dot a:hover{
    color:var(--appColor1-HEX);
}


@keyframes pulse-ring {
    0% {
        transform: scale(.5);
    }
    50% {
        transform: scale(2);
    }
    80%, 100% {
        opacity: 0;
    }
}

.nav-pills .nav-link{
    border:1px solid var(--borderColor);
    border-bottom: none;
    color: var(--textLink);
    font-weight: 600;
    font-size:var(--fontSize-13);
    background: #f5f5f5;}
.nav-pills .nav-link:hover{
    color:var(--dark);}
.nav-pills .nav-item:not(:first-child) .nav-link{
    border-left:0}
.nav-pills .nav-item:first-child .nav-link{
    border-top-left-radius:.375rem;
    border-bottom-left-radius:0}
.nav-pills .nav-item:last-child .nav-link{
    border-top-right-radius:.375rem;
    border-bottom-right-radius:0}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    color:var(--appColor1-HEX);
    background-color:transparent
}

@media (max-width: 575.98px){
    .info_producto .titulo_libro{
        font-size:var(--fontSize-18); 
    }
    .nav-pills .nav-item{
        border-bottom:1px solid var(--borderColor);}
    .nav-pills .nav-item:first-child .nav-link{
        border-top-left-radius:0;
        border-bottom-left-radius:0}
    .nav-pills .nav-item:last-child .nav-link{
        border-top-right-radius:0;
        border-bottom-right-radius:0}
    .nav-pills .nav-item:not(:first-child) .nav-link{
        border-left:1px solid var(--borderColor);
    }
}