<div class="box box-solid">
	<!--=====================================
  	CÓDIGOS
  	======================================-->

  	<div class="box-header with-border">

		<h3 class="box-title">CÓDIGOS</h3>

		<div class="box-tools pull-right">

		</div>

	</div>

	<div class="box-body">

		<div class="form-group">

			<label for="correoComercio">Google Maps <span class="text-danger">(*)</span></label>

		    <textarea class="form-control codigos" id="googleMaps" rows="4" style="resize: none;">{{plantilla.googleMaps}}</textarea>

		</div>

		<div class="form-group">

			<label for="correoComercio">Google Analytics <span class="text-danger">(*)</span></label>

		    <textarea class="form-control codigos" id="googleAnalytics" rows="4" style="resize: none;">{{plantilla.googleAnalytics}}</textarea>

		</div>

		<div class="form-group">

			<label for="correoComercio">API Facebook <span class="text-danger">(*)</span></label>

		    <textarea class="form-control codigos" id="apiFacebook" rows="4" style="resize: none;">{{plantilla.apiFacebook}}</textarea>

		</div>

		<div class="form-group">

			<label for="correoComercio">Pixel Facebook</label>

		    <textarea class="form-control codigos" id="pixelFacebook" rows="4" style="resize: none;">{{plantilla.pixelFacebook}}</textarea>

		</div>

	</div>

	<div class="box-footer text-right">
			
		<div class="form-inline">
			
			<div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon">
			      		<i class="fas fa-key prefix"></i>
			      	</div>
			      	<input type="password" class="form-control input-sm" id="pwdCodigos" placeholder="Contraseña" disabled>
			    </div>
			</div>

			<button type="button" id="guardarCodigos" class="btn btn-sm bg-navy" disabled>Actualizar códigos</button>

		</div>

	</div>
	
</div>
